<h1>Eat-Da-Burger!</h1>


<ul>
    {{#each burgers}}
    <li>
        <p>
            {{this.id}}. {{this.burger_name}}

            <button data-burgerid="{{this.id}}" class="delburger">Devour It!</button>
        </p>
    </li>
    {{/each}}
</ul>

<h2>Add a Burger to Devour</h2>
<form id="addburger" class="button-size">
    <textarea type="text" name="burger"></textarea>
    <button type="submit">Add It!</button>
</form>